<!DOCTYPE html>
<html>
<head>
    <title>File Submit Success</title>
    <!-- Include Bootstrap CSS from a CDN or locally -->
    <!-- Bootstrap CSS CDN Example -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Font Awesome from a CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- Local Bootstrap CSS Example (if you've downloaded Bootstrap) -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->

    <!-- Custom CSS for Background Image -->
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url('/static/aws.jpeg');
            background-size: cover; /* Adjust the background size as needed */
            background-color: rgb(13, 50, 98);
        }
        .message-container {
            /* margin-left: 320px; */
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
        .message-text {
            color: #fff; /* Text color */
            text-align: left; /* Align the text to the left */
        }
        .check-icon {
            color: green; /* Color for the check icon */
            font-size: 36px; /* Adjust the icon size as needed */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center"> <!-- Center the container -->
            <div class="col-md-6">
                <div class="message-container" style="display: flex; width: 1000px; margin-top: 80%; margin-left: -100%;">
                    <h1 class="message-text" >Credentials Submitted Successfully!</h1>
                    <i class="fas fa-check-circle check-icon" style="margin-left: 20px;margin-top: 11px;"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (if needed) -->
    <!-- Bootstrap JS CDN Example -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
